{% extends 'base.html' %}
{% block head %}
<style>
  .message {
    display: flex;
    margin-bottom: 10px;
  }

  .message p {
    word-break: break-all;
  }


  .input-block {
    display: block;
    /* Agrega estilos adicionales según tus necesidades */
  }

  .message-content {
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
    overflow-y: auto;
    overflow-wrap: break-word;
  }

  .self .message-content {
    align-self: flex-end;
    background-color: #e2f3ff;
  }

  .text-left,
  .text-right {
    margin-top: auto;
  }

  .text-left {
    margin-bottom: 20px;
  }
</style>
{% endblock %}

{% block content %}

<!-- <div class="container"> -->
<div class="row justify-content-between">
  <div class="col">
    <h3>Chat Room: {{ name_to_display }}</h3>

    <div id="chatMessages" class="card mb-3" style="overflow-y: auto;height: 70vh; max-width: 800px; min-width: 800px;">
      <div class="wrapper">
        <div class="card-body" style="overflow-y: auto;">
          <div class="row" id="chatBox">
            <!-- Beginning of chat history -->
            <div class="col-2"></div>
            <div class="col-8 text-center"><a class="badge text-secondary-emphasis bg-secondary-subtle gray-900">This is
                beginning of the chat history</a></div>
            <div class="col-2"></div>
            <!-- Beginning of chat messages -->
            {% for message in chat_messages %}
            <div class="col-4 d-{% if message.sender.username == current_user %}block{%else%}none{% endif %}"></div>
              <div class="col-8">
                <div class="message mb-3 {% if message.sender.username == current_user %}self float-end{% endif %}">
                  <div class="message-content">
                    <small style="font-size: 13px;">{{ message.sender.username }}</small>
                    <p class="mb-1">{{ message.message }}</p>
                    <p style="font-size: 9px;">
                    <!-- MAC authenticator shown-->
                    MAC:
                    <small style="font-size: 9px;">{{ message.mac }}</small>
                    </p>
                    <small style="font-size: 11px;">{{ message.timestamp }}</small>
                    <p></p>
                    <!-- Buttons made for decryption -->
                    <button type="button" class="btn btn-primary" id="decryptButton" onclick="decryptDiv(event,this)">
                      <i class="fa fa-unlock  fa-fw"></i>
                      <span class="d-none d-sm-inline"> Desencriptar</span>
                    </button>
                  </div>
                </div>
              </div>
            <div class="col-4 d-{% if message.sender.username == current_user %}none{%else%}block{% endif %}"></div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- Input for message -->
    <div class="card-footer">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" id="messageInput" placeholder="Type your message..." />
        <input type="text" class="form-control" id="keyCInput" placeholder="Type your Cipher key..."/>
        <input type="text" class="form-control" id="keyMInput" placeholder="Type your HMAC key..."/>
        <div class="input-group-append">
          <button type="button" id="sendButton" class="btn btn-primary">
            <i class="fa fa-paper-plane fa-fw"></i>
            <span class="d-none d-sm-inline"> Send</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Container for key agreement between the two parties -->
  <div class="col">
    <div id="keyAgreement" class="mb-3" style="height: 75vh; ">
      <h3>Key Sharing</h3>
      <div class="card mb-3" style="padding: 20px">
        <!-- Here is where the user's public and private key is shown -->
        <div>
          <h4>Public Cipher Key</h4>
          <input id="pub_keyC" type="text" value="" style="width: 100%;" readonly>
          <h4>Private Cipher Key</h4>
          <input id="priv_keyC" type="text" value="" style="width: 100%;" readonly>

          <h4>Public HMAC Key</h4>
          <input id="pub_keyM" type="text" value="" style="width: 100%;" readonly>
          <h4>Private HMAC Key</h4>
          <input id="priv_keyM" type="text" value="" style="width: 100%;" readonly>


          <div class="container" style="padding: 1vh;">
            <div class="row">
              <!-- Sends the keys generated by the user to the other party on real time -->
              <div class="col">
                <button type="button" class="btn btn-info" onclick="" id="gen_key">Generate keys and send</button>
              </div>
            </div>
          </div>
          <!-- When the other party generates their key, it is shown here on real time -->
          <h3>Received Cipher Key</h3>
          <input id="shared_keyC" type="text" value="" style="width: 100%;" readonly>
          <h3>Final Cipher Key</h3>
          <input id="final_keyC" type="text" value="" style="width: 100%;" readonly>

          <h3>Received HMAC Key</h3>
          <input id="shared_keyM" type="text" value="" style="width: 100%;" readonly>
          <h3>Final HMAC Key</h3>
          <input id="final_keyM" type="text" value="" style="width: 100%;" readonly>

        </div>
      </div>
    </div>
  </div>

</div>
<!-- </div> -->

{{ request.user.username|json_script:"user_username" }}
{{ room_name|json_script:"room-name" }}
<script>
  // Variables passed through template
  const roomName = JSON.parse(document.getElementById('room-name').textContent);
  const user_username = JSON.parse(document.getElementById('user_username').textContent);

  // Connect WebSocket
  const chatSocket = new WebSocket(`ws://${window.location.host}/ws/chat/${roomName}/`);

  // Receive new messages from Web Socket
  chatSocket.onmessage = function (e) {
    const message = JSON.parse(e.data);
    if (message.type == "chatroom_message") {
      document.getElementById("chatBox").innerHTML += `
        <div class="col-4 d-${message.username == user_username ? 'block' : 'none'}"></div>
          <div class="col-8">
              <div class="message mb-3 ${message.username == user_username ? 'self float-end' : ''}">
                  <div class="message-content">
                    <small style="font-size: 13px;">${message.username}</small>
                    <p class="mb-1">${message.message}</p>
                    <p style="font-size: 9px;">
                    MAC:
                    <small style="font-size: 9px;">${message.mac}</small>
                    </p>
                    <small style="font-size: 11px;">${new Date()}</small>                
                    <p></p>
                      <button type="button" class="btn btn-primary"  onclick="decryptDiv(event,this)">
                        <i class="fa fa-unlock fa-fw"></i>
                        <span class="d-none d-sm-inline"> Desencriptar</span>
                      </button>
                  </div>
              </div>
          </div>
        <div class="col-4 d-${message.username == user_username ? 'none' : 'block'}"></div>
      `
    }
    // Manipulates the shared_key to get the received public key, and the user's current private key
    if (message.type == "shared_keys" && message.username != user_username) {
      document.getElementById("shared_keyC").value = message.keyC
      document.getElementById("shared_keyM").value = message.keyM

      const privKeyC = document.getElementById("priv_keyC").value
      const privKeyM = document.getElementById("priv_keyM").value

      // In case that the user's private key exists, it calculates the final key
      if (privKeyC != ''  && privKeyM != '') {
        document.getElementById("final_keyC").value = gen_shared_key(message.keyC, privKeyC)
        document.getElementById("final_keyM").value = gen_shared_key(message.keyM, privKeyM)
        document.getElementById('keyCInput').value = gen_shared_key(message.keyC, privKeyC)
        document.getElementById('keyMInput').value = gen_shared_key(message.keyM, privKeyM)
      }
    }

  }

  // Send Message to WebSocket
  const sendButton = document.getElementById('sendButton');
  const messageInput = document.getElementById('messageInput');
  const keyCInput = document.getElementById('keyCInput');
  const keyMInput = document.getElementById('keyMInput');

  sendButton.addEventListener('click', (event) => {
    const message = messageInput.value.trim();
    const keyC = keyCInput.value.trim();
    const keyM = keyMInput.value.trim();
    if (message !== '') {
      const encryptedMessage = encript(message, keyC, keyM)
      // Send the message to the server
      chatSocket.send(JSON.stringify({
        'content': encryptedMessage,
        'is_key': false,
        'is_message': true,
      }));
      messageInput.value = '';
    }
  });


  const genKeyButton = document.getElementById("gen_key");

  const pubKeyCText = document.getElementById('pub_keyC');
  const privKeyCText = document.getElementById('priv_keyC');

  const pubKeyMText = document.getElementById('pub_keyM');
  const privKeyMText = document.getElementById('priv_keyM');

  const sendKey = document.getElementById('send_key');

  // In case the button is pressed, the user's keys generate
  genKeyButton.addEventListener('click', (event) => {
    const keys = gen_key()

    if(privKeyCText.value == "" && privKeyMText.value == ""){
      pubKeyCText.value = keys.pub_keyC
      privKeyCText.value = keys.priv_keyC

      pubKeyMText.value = keys.pub_keyM
      privKeyMText.value = keys.priv_keyM
    }

    // Sends the public key to the server 
    if (pubKeyCText.value != '' && pubKeyMText.value != '') {
      chatSocket.send(JSON.stringify({
        'content': {"keyC" : pubKeyCText.value,
                    "keyM" : pubKeyMText.value,              
      },
        'is_key': true,
        'is_message': false,
      }));

      const sharedCKey = document.getElementById("shared_keyC").value
      const sharedMKey = document.getElementById("shared_keyM").value
      // Generates the final key on the user's side
      if (sharedCKey != '') {
        document.getElementById("final_keyC").value = gen_shared_key(sharedCKey, privKeyCText.value)
        document.getElementById("final_keyM").value = gen_shared_key(sharedMKey, privKeyMText.value)
        document.getElementById("keyCInput").value = document.getElementById("final_keyC").value
        document.getElementById("keyMInput").value = document.getElementById("final_keyM").value
      }
    }
  })


</script>



{% endblock %}